<div class="container">
    <mat-toolbar>
        <span *ngIf="isAddMode">Crear Empleado</span>
        <span *ngIf="!isAddMode">Editar Empleado</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>DNI</mat-label>
                        <input matInput type="text" autocomplete="off" placeholder="12341234A" minlength="9"
                            maxlength="9" formControlName="id">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="8">
                    <img *ngIf="isAddMode" src="./assets/img/usuario.png" width="250" height="250">
                    <img *ngIf="!isAddMode" src="./assets/img/edit.png" width="300" height="300">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Calle</mat-label>
                        <input matInput type="text" autocomplete="off" formControlName="calle">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Número</mat-label>
                        <input matInput type="number" min="1" max="999" autocomplete="off" formControlName="numero">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Teléfono</mat-label>
                        <span matPrefix>+34 &nbsp;</span>
                        <input matInput type="tel" placeholder="123123123" minlength="9" maxlength="9"
                            autocomplete="off" formControlName="telefono">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" autocomplete="off" formControlName="email">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>NºVentas</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName="ventas">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>NºHoras</mat-label>
                        <input matInput type="number" min="0" max="240" autocomplete="off" formControlName="horas">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button routerLink="/dashboard/empleados" mat-raised-button
                        style="margin-right: 20px;">Volver</button>
                    <button type="submit" [disabled]="empleadoForm.invalid" mat-raised-button
                        color="primary">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>