<div class="container">
  <mat-toolbar>
    <span>Usuarios</span>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">Agregar</button>
  </mat-toolbar>
  <div *ngIf="listUsuarios.length > 0">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
    </mat-form-field>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Clientes">
        <div class="mat-elevation-z6">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef>DNI</th>
              <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
            </ng-container>
    
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>
    
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef>Apellido</th>
              <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
            </ng-container>
    
            <ng-container matColumnDef="sexo">
              <th mat-header-cell *matHeaderCellDef>Sexo</th>
              <td mat-cell *matCellDef="let element">{{ element.sexo }}</td>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index" style="text-align: right">
                <a class="pointer" style="color: blue" matTooltip="Ver Usuario">
                  <mat-icon>search</mat-icon>
                </a>
                <a class="pointer" style="color: green" matTooltip="Editar Usuario">
                  <mat-icon>edit</mat-icon>
                </a>
                <a class="pointer" (click)="eliminarCliente(i)" style="color: red" matTooltip="Eliminar Usuario">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Empleados">Empleados</mat-tab>
      <mat-tab label="Productos">Productos</mat-tab>
    </mat-tab-group>
    
  </div>
  <h2 *ngIf="listUsuarios.length == 0">No hay clientes para mostrar</h2>
</div>